@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

.nav-link {
    color: black !important;
}
.nav-link:hover {
    color: #41b883 !important;
}
.active {
    color: #41b883 !important;
}